[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysql-connector-python = "*"
python-dotenv = "*"
celery = "*"
django-celery-beat = "*"
django-celery-results = "*"
eventlet = "*"
redis = "*"
gunicorn = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
