
{% extends 'app_general/components/base.html'%}

{% block site_title %}
about
{% endblock %}

{% block content %}
<section class="content-section content-section-single">

    <div class="content-container">
        <h2 class="content-title">about</h2>
        <h4>ก่อตั้ง 1923</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Quia iure quod enim molestias minus laborum nesciunt praesentium fugit officiis eos, 
            est architecto exercitationem eaque dolore aspernatur excepturi? A, asperiores fuga!</p>
        <h4>MCP Way</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Quia iure quod enim molestias minus laborum nesciunt praesentium fugit officiis eos, 
            est architecto exercitationem eaque dolore aspernatur excepturi? A, asperiores fuga!</p>
        <h4>ใส่ใจสิ่งแวดล้อม</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Quia iure quod enim molestias minus laborum nesciunt praesentium fugit officiis eos, 
            est architecto exercitationem eaque dolore aspernatur excepturi? A, asperiores fuga!</p>
    </div>
    

</section>


<style>
    
    

</style>

{% endblock %}

