{% extends 'app_general/components/base.html'%}

{% block site_title %}
THANK YOU
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2>ขอบคุฯสำหรับการลงทะเบียน</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Tempora, aliquid eveniet exercitationem totam animi iure veritatis 
            similique quam repellendus explicabo alias repellat. Ut doloremque possimus 
            officia maiores unde consequatur nihil!
        </p>
        <a class="button button-primary" href="{%url 'home'%}">ไปหน้าแรก</a>

    </div>
</section>
{% endblock %}