{% extends 'app_general/components/base.html'%}

{% block site_title %}
Send Email Reset Done
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h2 class="content-title">Send Email Reset Done</h2>
        
        <p>Please Check in your Email.</p>
        <p>
            <a class="button button-primary" href="{% url 'login' %}">กลับสู่หน้า login</a>
        </p>
 
    </div>
</section>
{% endblock %}
