{% extends 'app_general/components/base.html'%}

{% block site_title %}
ChangePassword
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h2 class="content-title">Hello {{user.username}}</h2>
        <p>
            <a href="{% url 'dashboard'%}">Dashboard</a>
            <a href="{% url 'profile'%}">Profile</a>
            <a href="{% url 'password_change'%}">ChangePassword</a>
        </p>
        <h5>
            Password change successful
        </h5>
        <p>Your password was changed.</p>
        
 
    </div>
</section>
{% endblock %}
