
{% extends 'app_general/components/base.html'%}

{% block site_title %}
ตั้งรหัสผ่านใหม่
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h2 class="content-title">ตั้งรหัสผ่านใหม่</h2>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p}}
                <p>
                    <button class="button button-primary" type="submit">Save</button>
                </p>
            </form>
        {% else %}
            <h2 class="content-title">ลิ้งค์ใช้ไม่ได้</h2>
            <p>ลิงค์อาจหมดอายุ หรือเคยใช้ไปแล้ว</p>
            <p>
                <a class="button button-primary" href="{%url 'home'%}">กลับไปหน้าแรก</a>
            </p>
        {% endif %}
 
    </div>
</section>
{% endblock %}
